@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

i, cite, em, var, dfn, address {
  font-style: normal;
}

b, h1, h2, h3, h4, h5, h6, strong, th {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.text-content {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

button {
  font-family: Roboto, Helvetica, Arial, sans-serif;
} 

[hidden] {
  display: none !important;
}
