body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

i, cite, em, var, dfn, address {
  font-style: normal;
}

b, h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: normal;
}

[hidden] {
  display: none !important;
}
