<div class="nav-container">
  <nav class="main-nav">
    <div id="home-nav-btn" class="main-nav__item" title="Home"><essence-svg class="nav-icon" src="/assets/home_white_24dp.svg" /></div>
    <div id="software-nav-btn" class="main-nav__item" title="Software Development"><essence-svg class="nav-icon" src="/assets/work_white_24dp.svg"/></div>
    <div id="gamedev-nav-btn" class="main-nav__item"  title="Game Development"><essence-svg class="nav-icon" src="/assets/smart_toy_white_24dp.svg"/></div>
  </nav>
</div>
